<!-- Validation failure messages -->
<% if @mission_participant.errors.any? %>
  <% @mission_participant.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Mission Participant #<%= @mission_participant.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_mission_participant/<%= @mission_participant.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @mission_participant.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for mission_id -->
      <div class="form-group">
        <label for="mission_id" class="control-label">
          Mission
        </label>

        <%= select_tag(:mission_id, options_from_collection_for_select(Mission.all, :id, :created_at, @mission_participant.mission_id), :class => "form-control") %>
      </div>

      <!-- Label and input for pass_or_fail -->
      <div class="form-group">
        <label for="pass_or_fail" class="control-label">
          Pass or fail
        </label>

        <input type="text" id="pass_or_fail" name="pass_or_fail" placeholder="Pass or fail" class="form-control" value="<%= @mission_participant.pass_or_fail %>">
      </div>

      <button class="btn btn-warning">
        Update Mission Participant
      </button>
      or
      <a href="/mission_participants/<%= @mission_participant.id %>">Cancel</a>
    </form>
  </div>
</div>
