<div class="page-header">
  <h3>Mission #<%= @mission.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Total passes</dt>
      <dd><%= @mission.total_passes %></dd>

      <dt>Total fails</dt>
      <dd><%= @mission.total_fails %></dd>

      <dt>Outcome</dt>
      <dd><%= @mission.outcome %></dd>

      <dt>Total approve</dt>
      <dd><%= @mission.total_approve %></dd>

      <dt>Total disapprove</dt>
      <dd><%= @mission.total_disapprove %></dd>

      <dt>Mission approved</dt>
      <dd><%= @mission.mission_approved %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/missions" class="btn btn-primary">
        Back
      </a>
      <a href="/missions/<%= @mission.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_mission/<%= @mission.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Mission has many mission_participants -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Mission Participants
      </li>

      <% @mission.mission_participants.each do |mission_participant| %>
        <li class="list-group-item">
          <a href="/mission_participants/<%= mission_participant.id %>">
            <%= mission_participant.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/mission_participants/<%= mission_participant.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/mission_participants/<%= mission_participant.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_mission_participant/<%= mission_participant.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Mission has many mission_votes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Mission Votes
      </li>

      <% @mission.mission_votes.each do |mission_vote| %>
        <li class="list-group-item">
          <a href="/mission_votes/<%= mission_vote.id %>">
            <%= mission_vote.vote %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/mission_votes/<%= mission_vote.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/mission_votes/<%= mission_vote.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_mission_vote/<%= mission_vote.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Mission has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @mission.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
